<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ 'Business Trip List' | abpLocalization }}
        </h5>
      </div>
      <div class="text-end col col-md-6">
        <div class="text-lg-end pt-2">
          <div class="text-padding">

            <button id="create" class="btn btn-primary" type="button">
              <i class="fa fa-plus me-1"></i>
              <span>{{ "::Business Trip List" | abpLocalization }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <abp-modal [(visible)]="isViewOpen">
    <ng-template #abpHeader>
      <h3>{{ '::Trip Expense' | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody>
      <ngx-datatable [rows]="tripExDto" default>
        <ngx-datatable-column [name]="'::Purpose' | abpLocalization" prop="purpose"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::Destination' | abpLocalization" prop="destination">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Business Type' | abpLocalization" prop="checkinTime">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.checkinTime | date }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'::Legal Entity' | abpLocalization" prop="checkoutTime">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.checkoutTime | date }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Department' | abpLocalization" prop="totalNights"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::Total Amount' | abpLocalization" prop="totalAmount"></ngx-datatable-column>
        
      </ngx-datatable>
    </ng-template>
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
        {{ '::Close' | abpLocalization }}
      </button>
    </ng-template>
  </abp-modal>
  <div class="card-body">
    <ngx-datatable [rows]="tripDto" default>
      <ngx-datatable-column [name]="'::Operater Name' | abpLocalization" prop="operaterName"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Request Date' | abpLocalization" prop="requestedDate">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.requestedDate | date }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Business Type' | abpLocalization" prop="businessType"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Legal Entity' | abpLocalization" prop="legalEntity"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Department' | abpLocalization" prop="department"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Expense Code' | abpLocalization" prop="expenseCode"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Total Amount' | abpLocalization" prop="totalAmount"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Actions' | abpLocalization"
                            [maxWidth]="150"
                            [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button class="btn btn-primary btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    ngbDropdownToggle>
              <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem>
                {{ '::Edit' | abpLocalization }}
              </button>
              <button ngbDropdownItem (click)="View(row.id)">
                {{ '::View' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

