<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5 class="card-title">
          {{ 'BUSINESS TRIP REQUEST' | abpLocalization }}
        </h5>
        <div>
          <button class="btn btn-primary">
            <span>{{ "::Save" | abpLocalization }}</span>
          </button>
          <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
            <span>{{ "::Submit" | abpLocalization }}</span>
          </button>
          <button class="btn btn-primary">
            <span>{{ "::Back" | abpLocalization }}</span>
          </button>
        </div>
      </div>
      <div class="text-lg-end pt-2">
      </div>
    </div>
    <form [formGroup]="form">
      <div style="border-top:solid 1px;margin-left: -25px;margin-right: -25px;padding:25px">
        <div style="background-color: darkturquoise; height:30px;display:flex">
          <h1 style="font-size: 15px; font-weight: bold; color: black; margin-top: auto;  margin-bottom: auto;">
            PART 1: TRIP INFORMATION
          </h1>
        </div>
        <div class="body">
          <div class="item">
            <label>Operater's Name</label> <br />
            <input class="form-control" type="text" formControlName="operaterName" placeholder="Trần Hùng Thành Nhân" disabled />

          </div>
          <div class="item">
            <label>Request Number </label><br />
            <input class="form-control" type="text" formControlName="requestNumber" value="BT-03-07-2023.XXX" placeholder="BT-03-07-2023.XXX" disabled />
          </div>
          <div class="item">
            <label>Requested Date</label><span> * </span>
            <input #datepicker="ngbDatepicker"
                   class="form-control"
                   name="datepicker"
                   formControlName="requestedDate"
                   ngbDatepicker
                   (click)="datepicker.toggle()"
                   disabled
                   placeholder="4-7-2023"
                   value="4-7-2023" />
          </div>
          <div class="item">
            <label>Legal Entity *</label><br />
            <select formControlName="legalEntity">
              <option></option>
              <option *ngFor="let item of data" [value]="item.code">{{item.code}}</option>
            </select>
          </div>
          <div class="item">
            <label>Department *</label><br />
            <select formControlName="department">
              <option></option>
              <option *ngFor="let item of depart" [value]="item.code">{{item.code}}</option>
            </select>
          </div>
          <div class="item">
            <label>Traveler’s / Verifier's Username *</label><br />
            <select formControlName="verifierUsername">
              <option></option>
              <option *ngFor="let item of user" [value]="item">{{item}}</option>
            </select>
          </div>
          <div class="item">
            <label>Expense Code *</label><br />
            <select formControlName="expenseCode">
              <option></option>
              <option *ngFor="let item of expense" [value]="item.code">{{item.code}}</option>
            </select>
          </div>
          <div class="item">
            <label>Business Type *</label><br />
            <select formControlName="businessType">
              <option></option>
              <option *ngFor="let item of type" [value]="item">{{item}}</option>
            </select>
          </div>
          <div class="item">
            <label>Traveler’s / Verifier's Name</label><br />
            <input class="form-control" type="text" formControlName="verifierName" disabled />
          </div>
          <div class="item-1">
            <label>
              Note
              <span style="font-size:9px">(Max 999 charcters)</span>
            </label><br />
            <input type="text" formControlName="notes" />
          </div>
          <div class="body-1">
            <div class="header">
              <h1 style="font-size: 15px; font-weight: bold; color: black; margin-top: auto;  margin-bottom: auto;">
                PART 2: TRIP EXPENSES
              </h1>
            </div>
            <div class="module">
              <div>
                <label style="color: black">Total Amount:</label>
                <input style="margin-left:10px;padding-left:3px;padding-right:3px;text-align:center;background-color:gainsboro" formControlName="totalAmount" />
              </div>
              <div>
                <button class="btn btn-primary" (click)=" addNewTrip() ">
                  <span>{{ "::Add new trip" | abpLocalization }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="body-2">
          
          <table style=" width:100%; color:black">
            <thead>
              <tr>
                <td></td>
                <td>
                  Item *
                </td>
                <td>Specification</td>
                <td>Original Curency</td>
                <td>Original Unit</td>
                <td>Volume</td>
                <td>Original Amount</td>
                <td>Equivalent in VND</td>
                <td>Notes</td>
              </tr>
              
            </thead>
            <tbody></tbody>
            <tfoot>
              <tr>
                <td colspan="1">
                  <button style="margin-right:10px" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                  <button class="btn btn-primary"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
              
            </tfoot>
          </table>
        </div>
        <div class="example-button-row" style="padding: 1%;display:flex;justify-content:flex-end">
          <button class="btn btn-primary">Save</button>
          <button class="btn btn-primary">Submit</button>
          <button class="btn btn-primary">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>


